
body{
    background-color: white;

h1{
    color:black;
    justify-content: center;
    
}

.contenedor{
    background-color: white;
    width: 800;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}


.imagen{
    margin-top:0px;
    margin-left: 0px;
    background-size: cover;
}

}
